<!DOCTYPE html>
<html>
    <body>
        <div >
            <form action="{% url 'Application:signup' %}" method="post">
            {% csrf_token %}
            <input type="text"  name="firstName" id="firstName" aria-describedby="First Name" placeholder="Enter your first name">
            <input type="text"  name="lastName" id="lastName" aria-describedby="Last Name" placeholder="Enter your last Name">
            <input type="text" name="username" id="username" aria-describedby="User Name" placeholder="Enter Username">
            <input type="email" name="email" id="email" aria-describedby="E-mail" placeholder="Enter a valid email address">
            <input type="password"  name="password" id="password" placeholder="Enter a Password">
        
          <button type="submit" >Create Account</button>
                    <a href="{% url 'Application:userLogin' %}">Already a user?</a>
        
        </form>
        
        </div>
    </body>
</html>